* {
    box-sizing: border-box;
}

main {
    margin: 30px auto;
    width: 70%;
    height: 600px;
    background-color: rgba(127, 255, 212, 0.394);
    border-radius: 20px;
    padding: 20px;
}



main .selection ul li.active {
    background-color: #333;
    color: #fff;

}


.selection div {
    display: none;
}

.selection .show {
    display: block;
}